<ul class="book-cards uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-2@l uk-child-width-1-4@xl" uk-grid>
    {% for book in books %}
        {% set editionClass = (book.isMultiEdition) ? 'multi_edition' : 'single_edition' %}
        {% set bookCategory = book.category %}
        {% if book.searchterms %}
            {% set searchTerms = book.searchterms | join(',') %}
        {% else %}
            {% set searchTerms = null %}
        {% endif %}
        {% set name = book.name %}
        {% if book.icon %}
            {% set icon = book.icon %}
        {% else %}
            {% set icon = null %}
        {% endif %}
        {% set description = book.description %}
        {% set language = book.getDefaultLanguage %}
        {% set version = language.getDefaultVersion %}
        {% set url = "/" ~ book.slug ~ "/" ~ language.code ~ "/" ~ version.path %}
        {% if bookCategory|lower == 'core' %}
            {% set buttonClass = 'uk-button-primary' %}
        {% elseif bookCategory|lower == 'extension' %}
            {% set buttonClass = 'uk-button-secondary' %}
        {% else %}
            {% set buttonClass = 'uk-button-default' %}
        {% endif %}
        {% set isMultiLanguage = book.isMultiLanguage %}
        {% set countOtherEditions = book.countEditions - 1 %}
        {% set author = book.author %}
        <li data-tags="[{{ searchTerms }}]" class="book {{ bookCategory|lower }} {{ editionClass|lower }}">
            <div class="uk-card">
                <div class="uk-card-header">
                    <a href="{{ url }}">
                        <h2 class="uk-card-title uk-margin-remove-bottom">{{ name }} {% if icon %}<span uk-icon="icon: {{ icon }}; ratio: 2" class="uk-icon uk-float-right"></span>{% endif %}</h2>
                    </a>
                    <p class="uk-text-meta uk-margin-remove-top">by {{ author }}</p>
                </div>
                <div class="uk-card-body">
                    <p>{{ description }}</p>
                </div>
                <div class="uk-card-footer">
                    <div class="uk-grid-collapse uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <a href="{{ url }}">
                                <button href="{{ url }}" class="uk-button {{ buttonClass }}" title="Read {{ name }}">Read</button>
                            </a>
                            {% if isMultiLanguage %}
                                <button class="uk-button uk-button-default">
                                    <span uk-icon="icon world"></span><span>Languages</span>&nbsp;<span uk-icon="icon chevron-down"></span>
                                </button>
                                <div uk-dropdown="animation:uk-animation-slide-top-small; duration:200">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        {% for language in book.languages %}
                                            {% set url = "/" ~ book.slug ~ "/" ~ language.code ~ "/" ~ version.path %}
                                            <li>
                                                <a href="{{ url }}">
                                                    <span class="native-name">{{ language.nativeName|capitalize }}</span>
                                                    {% if language.nativeName != language.englishName %}
                                                        <span class="english-name">({{ language.englishName|capitalize }})</span>
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
