{% set class = "md-header" %}
{% if "navigation.tabs.sticky" in features %}
    {% set class = class ~ " md-header--lifted" %}
{% endif %}
<header class="{{ class }}" data-md-component="header">
    <nav class="md-header__inner md-grid" aria-label="{{ lang.t('header.title') }}">
        <a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}" title="{{ config.site_name | e }}" class="md-header__button md-logo" aria-label="{{ config.site_name }}" data-md-component="logo">
            {% include "partials/logo.html" %}
        </a>
        
        <label class="md-header__button md-icon" for="__drawer">
            {% include ".icons/material/menu" ~ ".svg" %}
        </label>
        
        <div class="md-header__title civi-header" data-md-component="header-title">
            <a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}" title="{{ config.site_name | e }}" aria-label="{{ config.site_name }}">
                <div class="md-header__ellipsis">
                    <div class="md-header__topic">
                        <span class="md-ellipsis">
                            {{ config.site_name }}
                        </span>
                    </div>
                    <div class="md-header__topic" data-md-component="header-topic">
                        <span class="md-ellipsis">
                            {% if page and page.meta and page.meta.title %}
                                {{ page.meta.title }}
                            {% else %}
                                {{ page.title }}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </a>
        </div>
        {% if not config.theme.palette is mapping %}
            <form class="md-header__option" data-md-component="palette">
                {% for option in config.theme.palette %}
                    {% set primary = option.primary | replace(" ", "-") | lower %}
                    {% set accent  = option.accent  | replace(" ", "-") | lower %}
                    <input class="md-option" data-md-color-media="{{ option.media }}" data-md-color-scheme="{{ option.scheme }}" data-md-color-primary="{{ primary }}" data-md-color-accent="{{ accent }}" {% if option.toggle %} aria-label="{{ option.toggle.name }}" {% else %} aria-hidden="true" {% endif %} type="radio" name="__palette" id="__palette_{{ loop.index }}">
                    {% if option.toggle %}
                        <label class="md-header__button md-icon" title="{{ option.toggle.name }}" for="__palette_{{ loop.index0 or loop.length }}" hidden>
                        {% include ".icons/" ~ option.toggle.icon ~ ".svg" %}
                        </label>
                    {% endif %}
                {% endfor %}
            </form>
        {% endif %}
        {% if config.extra.alternate %}
            <div class="md-header__option">
                <div class="md-select">
                {% set icon = config.theme.icon.alternate or "material/translate" %}
                <button class="md-header__button md-icon" aria-label="{{ lang.t('select.language.title') }}">
                    {% include ".icons/" ~ icon ~ ".svg" %}
                </button>
                <div class="md-select__inner">
                    <ul class="md-select__list">
                    {% for alt in config.extra.alternate %}
                        <li class="md-select__item">
                        <a href="{{ alt.link | url }}" hreflang="{{ alt.lang }}" class="md-select__link">
                            {{ alt.name }}
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
            </div>
        {% endif %}
        {% if "search" in config["plugins"] %}
            <label class="md-header__button md-icon" for="__search">
                {% include ".icons/material/magnify.svg" %}
            </label>
            {% include "partials/search.html" %}
        {% endif %}
        {% if config.repo_url %}
            <div class="md-header__source">
                {% include "partials/source.html" %}
            </div>
        {% endif %}
    </nav>
    {% if "navigation.tabs.sticky" in features %}
        {% if "navigation.tabs" in features %}
            {% include "partials/tabs.html" %}
        {% endif %}
    {% endif %}
</header>
