<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 42" style="enable-background:new 0 0 40 42;" xml:space="preserve" class="uk-margin-small-right uk-svg" width="40" height="42">
<g>
	<g>
		<path class="st0" d="M13.1,42L13.1,42c-2.6-0.1-3.7-3.1-3.8-3.5L0.3,9c-0.5-1.7-0.4-3.1,0.4-4.2c0.5-0.7,1.5-1.4,3.4-1.4
			c0.7,0,1.2,0.1,1.3,0.1l30.1,7c1.9,0.4,3.1,1.4,3.5,2.7c0.6,2.1-1.2,4.2-1.4,4.4l-21,22.6C15.4,41.4,14.3,42,13.1,42z M3.9,6.5
			c-0.5,0-0.7,0.1-0.7,0.2C3,6.9,3,7,3.3,8l9,29.6c0.2,0.6,0.5,1.2,0.8,1.2l0,0c0,0,0.4,0,1.1-0.8l21-22.6c0.4-0.4,0.7-1.1,0.7-1.3
			c-0.1-0.2-0.3-0.4-1.2-0.6l-30.1-7l0,0C4.7,6.6,4.3,6.5,3.9,6.5z"></path>
	</g>
	<g>
		<path class="st0" d="M9.7,39.6c-1,0.4-2,0.4-2.8,0.2l0,0c-2.5-0.8-2.6-4-2.6-4.4l0-28.8l3,0.7l0,28.2c0,0.7,0.2,1.3,0.6,1.4l0,0
			c0,0,0.2,0.1,0.8-0.2L9.7,39.6z M11.5,35l24.3-14.1c0.5-0.3,1.1-0.7,1-1.1c0-0.1-0.1-0.4-0.6-0.7l2-2.3c1.2,0.9,1.7,1.9,1.7,3.1
			c0,2.2-2.3,3.6-2.6,3.8L12.5,38L11.5,35z M33.4,17.5L9.5,3.6c0,0-0.6-0.4-0.9-0.5C8,3,7.8,3.1,7.8,3.2C7.6,3.3,7.6,3.3,7.5,4
			L4.4,3.5c0.2-1.3,0.7-2.2,1.5-2.8c0.7-0.5,1.8-0.9,3.6-0.3c0.7,0.2,1.1,0.5,1.2,0.5l24.9,14.3L33.4,17.5z"></path>
	</g>
</g>
</svg>