/* Header tweaks */
header a.md-source:hover {
    text-decoration: none;
}

/* Announce tweaks */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.md-announce__container .floatclear {
    clear:  both;
}

@media screen and (max-width: 60em) {
    .md-announce__container .pull-left {
        display: none;
    }
}

.md-announce:focus-within {
    background-color: var(--md-primary-fg-color);
}

/* Footer tweaks */

footer .md-footer-copyright {
    max-width: 100%;
    width: 100%;
}

footer .md-footer-copyright__highlight {
    text-align: center;
}

footer.md-footer .md-footer-meta__inner {
    overflow: hidden;
}

/* Logo */
.md-header-nav__button.md-logo {
    float: left;
    padding: 5px;
}

.md-header-nav__button.md-logo img {
    height: 1.6rem;
    width: 1.6rem;
    fill: white;
}

header.md-header .md-logo a {
    margin: 0;
    padding: 0;
}

header.md-header .civi-header span {
    color: white;
}

header.md-header .edition, header.md-header .other-editions {
    color: #A5CCDC !important;
}

.md-header-nav__subtitle {
    flex-grow: 1;
    padding: 0 1rem;
    font-size: .6rem;
    line-height: 1.8rem;
}

/* Breadcrumbs */
.md-typeset .md-footer-meta__breadcrumbs {
    *zoom: 1;
    list-style-type: none;
}

.md-typeset .md-footer-meta__breadcrumbs::before,
.md-typeset .md-footer-meta__breadcrumbs::after {
    display: table;
    content: "";
}

.md-typeset .md-footer-meta__breadcrumbs::after {
    clear: both;
}

.md-typeset .md-footer-meta__breadcrumbs li {
    display: inline-block;
    margin-bottom: 0em;
    margin-left: 0em;
    color: hsla(0, 0%, 100%, 0.7);
}

.md-typeset .md-footer-meta__breadcrumbs li:last-child {
    color: hsla(0, 0%, 100%, 1);
}

.md-typeset .md-footer-meta__breadcrumbs li a {
    display: inline-block;
    padding: 5px;
}

.md-typeset .md-footer-meta__breadcrumbs li a:hover {
    color: hsla(0, 0%, 100%, 0.7);
}

.md-typeset .md-footer-meta__breadcrumbs li a:first-child {
    padding-left: 0;
}

/* Link hover override */
.md-typeset a:focus, .md-typeset a:hover {
    color: var(--md-typeset-a-color);
}

/* CiviCRM Light */

@media screen {
    [data-md-color-scheme="civicrm-light"] {
        /* Root colours */
        --md-default-fg-color:             #333333;
        --md-default-fg-color--light:      #8c8c8c;
        --md-default-fg-color--lighter:    #595959;
        --md-default-fg-color--lightest:   #262626;
        --md-default-bg-color:             #f2f2f2;
        --md-default-bg-color--light:      #bfbfbf;
        --md-default-bg-color--lighter:    #8c8c8c;
        --md-default-bg-color--lightest:   #595959;

        /* Code highlight colours */
        --md-code-fg-color:                var(--md-default-fg-color);
        --md-code-bg-color:                #ffffff;
        --md-code-border-color:            var(--md-primary-fg-color);
        --md-code-hl-color:                rgba(66,135,255,0.3);
        --md-code-hl-number-color:         hsla(6, 74%, 63%, 1);
        --md-code-hl-special-color:        hsla(340, 83%, 66%, 1);
        --md-code-hl-function-color:       hsla(291, 57%, 65%, 1);
        --md-code-hl-constant-color:       hsla(250, 62%, 70%, 1);
        --md-code-hl-keyword-color:        hsla(219, 66%, 64%, 1);
        --md-code-hl-string-color:         hsla(150, 58%, 44%, 1);
        --md-code-hl-name-color:           var(--md-code-fg-color);
        --md-code-hl-operator-color:       var(--md-default-fg-color);
        --md-code-hl-punctuation-color:    var(--md-default-fg-color);
        --md-code-hl-comment-color:        var(--md-default-fg-color);
        --md-code-hl-generic-color:        var(--md-default-fg-color);
        --md-code-hl-variable-color:       var(--md-default-fg-color);

        /* Typeset colours */
        --md-typeset-color:                var(--md-default-fg-color);
        --md-typeset-a-color:              var(--md-primary-fg-color);
        --md-typeset-mark-color:           rgba(66,135,255,0.3);
        --md-typeset-kbd-color:            hsla(232, 15%, 94%, 0.12);
        --md-typeset-kbd-accent-color:     hsla(232, 15%, 94%, 0.2);
        --md-typeset-kbd-border-color:     hsla(232, 15%, 14%, 1);
        --md-typeset-table-color:          hsla(232, 75%, 95%, 0.12);
        --md-admonition-bg-color:          rgba(255,255,255,100);
        /* Footer colors */
        --md-footer-bg-color:              #262626;
        --md-footer-bg-color--dark:        #0d0d0d;
    }
}

/* Code highlight overrides */

.highlight {
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 .025rem .05rem rgba(0,0,0,.05);
}

/* CiviCRM Dark */

@media screen {
    [data-md-color-scheme="civicrm-dark"] {
        /* Root colours */
        --md-default-fg-color:             #F2F2F2;
        --md-default-fg-color--light:      #bfbfbf;
        --md-default-fg-color--lighter:    #8c8c8c;
        --md-default-fg-color--lightest:   #595959;
        --md-default-bg-color:             #333333;
        --md-default-bg-color--light:      #8c8c8c;
        --md-default-bg-color--lighter:    #595959;
        --md-default-bg-color--lightest:   #262626;

        /* Code highlight colours */
        --md-code-fg-color:                var(--md-default-fg-color);
        --md-code-bg-color:                #000000;
        --md-code-border-color:            var(--md-accent-fg-color);
        --md-code-hl-color:                rgba(66,135,255,0.3);
        --md-code-hl-number-color:         hsla(6, 74%, 63%, 1);
        --md-code-hl-special-color:        hsla(340, 83%, 66%, 1);
        --md-code-hl-function-color:       hsla(291, 57%, 65%, 1);
        --md-code-hl-constant-color:       hsla(250, 62%, 70%, 1);
        --md-code-hl-keyword-color:        hsla(219, 66%, 64%, 1);
        --md-code-hl-string-color:         hsla(150, 58%, 44%, 1);
        --md-code-hl-name-color:           var(--md-code-fg-color);
        --md-code-hl-operator-color:       var(--md-default-fg-color);
        --md-code-hl-punctuation-color:    var(--md-default-fg-color);
        --md-code-hl-comment-color:        var(--md-default-fg-color);
        --md-code-hl-generic-color:        var(--md-default-fg-color);
        --md-code-hl-variable-color:       var(--md-default-fg-color);

        /* Typeset colours */
        --md-typeset-color:                var(--md-default-fg-color);
        --md-typeset-a-color:              var(--md-accent-fg-color);
        --md-typeset-mark-color:           rgba(129, 196, 89, 0.3);
        --md-typeset-kbd-color:            hsla(232, 15%, 94%, 0.12);
        --md-typeset-kbd-accent-color:     hsla(232, 15%, 94%, 0.2);
        --md-typeset-kbd-border-color:     hsla(232, 15%, 14%, 1);
        --md-typeset-table-color:          hsla(232, 75%, 95%, 0.12);
        --md-admonition-bg-color:          hsla(232, 0%, 100%, 0.025);
        /* Footer colors */
        --md-footer-bg-color:              #262626;
        --md-footer-bg-color--dark:        #0d0d0d;
    }
}

/* Primary and accent colours */
[data-md-color-primary=indigo] {
    --md-primary-fg-color: #086287;
    --md-primary-fg-color--light: #26b7f2;
    --md-primary-fg-color--dark: #043448;
    --md-primary-bg-color: #f2f2f2;
    --md-primary-bg-color--light: #ffffff;
}

[data-md-color-accent=green] {
    --md-accent-fg-color: #81C459;
    --md-accent-fg-color--transparent: rgba(129, 196, 89, 0.1);
    --md-accent-bg-color: #333333;
    --md-accent-bg-color-light: #f2f2f2;
}

/* definition lists */
dt .inner {
    border-bottom: solid 5px #B6D8E6;
}

/* hyperlinks */

a:hover {
    text-decoration: underline;
}