{% extends "base.html" %}

{% block htmltitle %}
    {% if page.title %}
        <title>{{ page.title }} - {{ config.site_name }} - CiviCRM Documentation</title>
    {% else %}
        <title>{{ config.site_name }} - CiviCRM Documentation</title>
    {% endif %}
{% endblock %}

{% block announce %}
    <style>.md-announce{transition:background-color 125ms}.md-announce:focus-within{background-color:var(--md-accent-fg-color)}.md-announce a,.md-announce a:focus,.md-announce a:hover{color:currentColor}.md-announce strong{white-space:nowrap}</style>
    <div class="md-announce__container">
        <span class="pull-left">Check out our other CiviCRM documentation guides:
        {% if "User Guide" not in config.site_name %}
            <a href="https://docs.civicrm.org/user/en/latest" title="User Guide"><strong>User Guide</strong></a> |
        {% endif %}
        {% if "System Administrator Guide" not in config.site_name %}
            <a href="https://docs.civicrm.org/sysadmin/en/latest" title="SysAdmin Guide"><strong>SysAdmin Guide</strong></a> |
        {% endif %}
        {% if "Developer Guide" not in config.site_name %}
            <a href="https://docs.civicrm.org/dev/en/latest" title="Developer Guide"><strong>Developer Guide</strong></a> |
        {% endif %}
        {% if "Installation Guide" not in config.site_name %}
            <a href="https://docs.civicrm.org/installation/en/latest" title="Installation Guide"><strong>Installation Guide</strong></a> |
        {% endif %}
        </span>
        {% if config.extra.edition is defined %}
            <span class="pull-right">
                <a href="{{ config.extra.book_home }}/editions" title="Other Editions/Languages"><strong>Other Editions/Languages</strong></a>
            </span>
        {% endif %}
        <div class="floatclear"></div>
    </div>
{% endblock %}