<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ asset('/static/images/CiviCRMIcon.png') }}" type="image/png">
        <title>
            {% if page_title is defined %}
                {{ page_title }} -
            {% endif %}
            CiviCRM Documentation
        </title>
        <link media="all" rel="stylesheet" href="{{ asset('/static/css/uikit.min.css') }}">
        <link media="all" rel="stylesheet" href="{{ asset('/static/css/docs-publisher.css') }}" />
    </head>

    <body data-dp-theme="civicrm-light">
        <header uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav class="uk-navbar-container" uk-navbar="mode: click"  uk-navbar>
                <div class="uk-navbar-left">
                    <div class="uk-navbar-item">
                        <a class="uk-logo" href="#">
                            <img uk-svg src="{{ asset('/static/images/CiviCRMLogo.svg') }}" height="40px" width="40px" class="uk-margin-small-right" alt="CiviCRM Logo">
                            <span>CiviCRM Documentation</span>
                        </a>
                    </div>
                </div>
                <div class="uk-navbar-right">
                    <div class="uk-navbar-item">
                        <ul class="uk-navbar-nav">
                            <li>
                                <label data-dp-theme="civicrm-dark" class="dp-theme-button uk-icon" title="Switch to dark mode" for="__theme_dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2a7 7 0 0 1 7 7c0 2.38-1.19 4.47-3 5.74V17a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1v-2.26C6.19 13.47 5 11.38 5 9a7 7 0 0 1 7-7M9 21v-1h6v1a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1m3-17a5 5 0 0 0-5 5c0 2.05 1.23 3.81 3 4.58V16h4v-2.42c1.77-.77 3-2.53 3-4.58a5 5 0 0 0-5-5z"></path></svg>
                                </label>
                                <label data-dp-theme="civicrm-light" class="dp-theme-button uk-icon" title="Switch to light mode" for="__theme_light">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2a7 7 0 0 0-7 7c0 2.38 1.19 4.47 3 5.74V17a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-2.26c1.81-1.27 3-3.36 3-5.74a7 7 0 0 0-7-7M9 21a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-1H9v1z"></path></svg>
                                </label>
                            <li>
                                <a class="uk-navbar-item" href="https://docs.civicrm.org/dev/en/latest/documentation/">Contribute to documentation</a>
                            </li>
                            <li>
                                <a class="uk-navbar-item" href="https://docs.civicrm.org/dev/en/latest/documentation/extensions/">Add a new book</a>
                            </li>
                            <li>
                                <a class="uk-navbar-item" href="https://lab.civicrm.org/documentation/docs-publisher">Docs Publisher on GitLab</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
        {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="uk-section">
                    <div class="uk-container uk-container-expand">
                        <p>
                            CiviCRM documentation publishes guides using a
                            <a href="https://lab.civicrm.org/documentation/docs-publisher/">custom system</a>
                            which is maintained by community members, with facilitation from the
                            <a href="https://civicrm.org/working-groups/documentation">Documentation Working Group.</a>.
                            Like CiviCRM, the content on this site is free to use, contribute to and share.
                        </p>
                        <p>
                            You can support this site by getting involved and
                            <a href="/dev/en/latest/documentation/">contributing to documentation</a>.
                            You can support CiviCRM and help keep it free and sustainable by
                            <a href="https://civicrm.org/support-us">making a donation</a> today.
                            To give feedback about this site, please
                            <a href="https://lab.civicrm.org/documentation/docs-publisher/issues">file an issue</a>.
                        </p>
                        <hr />
                        <p class="uk-text-center">
                            © 2005 - {{ 'now' | date('Y') }}, CiviCRM Community. All rights reserved.
                            CiviCRM and the CiviCRM logo are trademarks of CiviCRM LLC.
                        </p>
                        <p class="uk-text-center">
                            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
                                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/us/88x31.png" />
                            </a>
                            <br />
                            Except where otherwise noted, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.
                        </p>
                    </div>

            </div>
        </footer>
    </body>
    <!-- UIkit JS -->
    <script src="{{ asset('/static/js/uikit.js') }}"></script>
    <script src="{{ asset('/static/js/uikit-icons.min.js') }}"></script>
    <!-- Search JS -->
    <script src="{{ asset('/static/js/search.js') }}"></script>
    <!-- Custom JS -->
    <script src="{{ asset('/static/js/docs-publisher.js') }}"></script>
</html>
